body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 100px; /* Taille du logo */
  margin-bottom: 20px;
}

h1 {
  color: #333;
}

.file-input {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 70%;
}

.validate-button {
  background-color: #5cb85c; /* Couleur verte */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.validate-button:hover {
  background-color: #4cae4c; /* Couleur verte plus foncée */
}

.results {
  margin-top: 20px;
}

.result-item {
  margin: 5px 0;
  color: #555;
  font-size: 16px;
}
